ClienteWPF/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
  <xs:element name="IniciarTablero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="matriz" nillable="true" type="q1:ArrayOfArrayOfFicha" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="fichaVacia" nillable="true" type="q2:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarTableroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="IniciarTableroResult" nillable="true" type="q3:ArrayOfArrayOfFicha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarTablero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="tablero" nillable="true" type="q4:Tablero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarTableroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="ProbarTableroResult" nillable="true" type="q5:Tablero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PiezasEnColumna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="tablero" nillable="true" type="q6:ArrayOfArrayOfFicha" />
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="fichaVacia" nillable="true" type="q7:Ficha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PiezasEnColumnaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PiezasEnColumnaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLugar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="tablero" nillable="true" type="q8:ArrayOfArrayOfFicha" />
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="fichaVacia" nillable="true" type="q9:Ficha" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugadorActual" nillable="true" type="q10:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLugarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarLugarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Colocar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="tablero" nillable="true" type="q11:ArrayOfArrayOfFicha" />
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="fichaVacia" nillable="true" type="q12:Ficha" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugadorActual" nillable="true" type="q13:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColocarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="ColocarResult" nillable="true" type="q14:ArrayOfArrayOfFicha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarTurnoJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugador1" nillable="true" type="q15:Jugador" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugador2" nillable="true" type="q16:Jugador" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugadorActual" nillable="true" type="q17:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarTurnoJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="CambiarTurnoJugadorResult" nillable="true" type="q18:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinDeTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="tablero" nillable="true" type="q19:ArrayOfArrayOfFicha" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="fichaVacia" nillable="true" type="q20:Ficha" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServicioWCF" minOccurs="0" name="jugadorActual" nillable="true" type="q21:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinDeTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinDeTurnoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>