ClienteWPF/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IniciarTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarTablero" />
  </wsdl:message>
  <wsdl:message name="IService1_IniciarTablero_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarTableroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProbarTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:ProbarTablero" />
  </wsdl:message>
  <wsdl:message name="IService1_ProbarTablero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProbarTableroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PiezasEnColumna_InputMessage">
    <wsdl:part name="parameters" element="tns:PiezasEnColumna" />
  </wsdl:message>
  <wsdl:message name="IService1_PiezasEnColumna_OutputMessage">
    <wsdl:part name="parameters" element="tns:PiezasEnColumnaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarLugar_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLugar" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarLugar_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLugarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Colocar_InputMessage">
    <wsdl:part name="parameters" element="tns:Colocar" />
  </wsdl:message>
  <wsdl:message name="IService1_Colocar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ColocarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CambiarTurnoJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarTurnoJugador" />
  </wsdl:message>
  <wsdl:message name="IService1_CambiarTurnoJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarTurnoJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FinDeTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:FinDeTurno" />
  </wsdl:message>
  <wsdl:message name="IService1_FinDeTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinDeTurnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IniciarTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IniciarTablero" message="tns:IService1_IniciarTablero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IniciarTableroResponse" message="tns:IService1_IniciarTablero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProbarTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProbarTablero" message="tns:IService1_ProbarTablero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProbarTableroResponse" message="tns:IService1_ProbarTablero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PiezasEnColumna">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PiezasEnColumna" message="tns:IService1_PiezasEnColumna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PiezasEnColumnaResponse" message="tns:IService1_PiezasEnColumna_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarLugar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarLugar" message="tns:IService1_VerificarLugar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarLugarResponse" message="tns:IService1_VerificarLugar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Colocar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Colocar" message="tns:IService1_Colocar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ColocarResponse" message="tns:IService1_Colocar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarTurnoJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CambiarTurnoJugador" message="tns:IService1_CambiarTurnoJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CambiarTurnoJugadorResponse" message="tns:IService1_CambiarTurnoJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinDeTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FinDeTurno" message="tns:IService1_FinDeTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FinDeTurnoResponse" message="tns:IService1_FinDeTurno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarTablero">
      <soap:operation soapAction="http://tempuri.org/IService1/IniciarTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarTablero">
      <soap:operation soapAction="http://tempuri.org/IService1/ProbarTablero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PiezasEnColumna">
      <soap:operation soapAction="http://tempuri.org/IService1/PiezasEnColumna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarLugar">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarLugar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Colocar">
      <soap:operation soapAction="http://tempuri.org/IService1/Colocar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarTurnoJugador">
      <soap:operation soapAction="http://tempuri.org/IService1/CambiarTurnoJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinDeTurno">
      <soap:operation soapAction="http://tempuri.org/IService1/FinDeTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServicioWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>